<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid py-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>