<div id="toast_container"></div>

<div class="m-2 rounded-lg shadow">
    <div class="p-4">
        <div class="loading show" *ngIf="loader">
            <div class="loading-1"></div>
            <div class="loading-2"></div>
            <div class="loading-3"></div>
            <div class="loading-4"></div>
            <div class="loading-5"></div>
            <div class="loading-6"></div>
            <div class="loading-7"></div>
            <div class="loading-8"></div>
        </div>
        <div class="p-2 row" *ngIf="!loader">
            <div class="col">
                <table class="table table-responsive">
                    <thead class="bg-custom-3">
                        <tr>
                            <th>N°</th>
                            <th>number</th>
                            <th>quantity</th>
                            <th>first position</th>
                            <th>last position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- contenedor para crear el loop, aunque se puede usar dentro del tr sin problemas
                        lo uso así porque en el tr cree un ng-class y quedaría la linea muy larga -->
                        <ng-container *ngFor="let da of datos?.data; let i=index">
                            <!-- ng-class para pintar los tr -->
                            <tr [ngClass]="{'bg-green': da?.ocurrency >= 2,'bg-yellow': da?.ocurrency === 1,'bg-gray': da?.ocurrency < 1 }">
                                <td>{{i}}</td>
                                <td>{{da?.n}}</td>
                                <td>{{da?.ocurrency}}</td>
                                <td>{{da?.first}}</td>
                                <td>{{da?.last}}</td>
                            </tr>
                        </ng-container>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <textarea class="form-control" [value]="sort" name="sort" id="" cols="99999" rows="5" style="resize: vertical;"></textarea>
            </div>
        </div>
    </div>
</div>