<nav class="navbar">
    <ul class="navbar-nav">

        <li class="nav-item">
            <a routerLink="/first" class="nav-link">
                <i class="fas fa-font"></i>
                <span class="link-text">First</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/second" class="nav-link">
                <i class="fas fa-bold"></i>
                <span class="link-text">Second</span>
            </a>
        </li>

        <li class="nav-item">
            <a data-toggle="modal" data-target="#alto_ahi_rufian" class="nav-link">
                <i class="fas fa-cog"></i>
                <span class="link-text">Configuración</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="alto_ahi_rufian" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <span class="text-img-top">ALTO AHÍ RUFIAN</span>
            <img class="w-100" src="assets/tiny_cat.jpg" alt="">
            <span class="text-img-bottom">ESTO NO LO PEDISTE!</span>
        </div>
    </div>
</div>