$text-primary: gray;
$text-secondary: black;
$bg-primary: #f6eec7;
$bg-secondary: #ffb6b9;
.navbar {
    position: fixed;
    background-color: $bg-primary;
    transition: width 600ms ease;
    padding: 0;
    z-index: 1020;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item {
    width: 100%;
    &:first-child {
        margin-top: 66px;
    }
    &:last-child {
        margin-top: auto;
    }
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $text-primary;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    border-radius: 0 2rem 2rem 0;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $bg-secondary;
    color: $text-secondary;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    font-size: 2rem;
    margin: 0 1.5rem;
    width: 100%;
    text-align: center !important;
}


/* Small screens */

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .nav-item:first-child {
        margin-top: 0;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
        border-radius: 0;
    }
    main {
        margin: 0;
    }
}


/* Large screens */

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
        .link-text {
            display: inline;
        }
        .nav-link i {
            width: auto;
        }
    }
}

.text-img-top {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-family: fantasy;
    letter-spacing: 0.1rem;
}

.text-img-bottom {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-family: fantasy;
    letter-spacing: 0.1rem;
    bottom: 0;
}