<div id="toast_container"></div>
<div class="m-2 rounded-lg shadow">
    <div class="p-4">
        <div class="loading show" *ngIf="loader">
            <div class="loading-1"></div>
            <div class="loading-2"></div>
            <div class="loading-3"></div>
            <div class="loading-4"></div>
            <div class="loading-5"></div>
            <div class="loading-6"></div>
            <div class="loading-7"></div>
            <div class="loading-8"></div>
        </div>
        <div class="p-2 row" *ngIf="!loader">
            <div class="col">
                <table class="table table-sm table-responsive table-bordered">
                    <thead class="bg-custom-3">
                        <tr>
                            <th>N°</th>
                            <th *ngFor="let h of header">{{h}}</th>
                            <th>Suma numericos contenidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let da of jsonData; let i=index">
                            <tr>
                                <td>{{i}}</td>
                                <!-- Realizamos el ng-for para optimizar espacio y llamamos a la variable creada -->
                                <td *ngFor="let h of header">{{match(h, da.paragraph)}}</td>
                                <td>{{sum_number_paragraph(da.paragraph)}}</td>
                            </tr>
                        </ng-container>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>