// https://colorhunt.co/palette/172665
.bg-custom-1 {
    background-color: #beebe9;
}

.bg-custom-2 {
    background-color: #f4dada;
}

.bg-custom-3 {
    background-color: #ffb6b9;
}

.bg-custom-4 {
    background-color: #f6eec7;
}

.color-custom-1 {
    color: #beebe9 !important;
}

.color-custom-2 {
    color: #f4dada !important;
}

.color-custom-3 {
    color: #ffb6b9 !important;
}

.color-custom-4 {
    color: #f6eec7 !important;
}

.nav-link {
    cursor: pointer;
}

#tab_custom {
    .nav-link {
        color: #3b5998;
        transition: all 300ms ease-in;
        &:hover {
            background-color: #dfe3ee;
        }
        &.active {
            color: white;
            background-color: #3b5998;
        }
    }
    #btn_back {
        border-radius: 1rem 0 0 1rem;
        transition: all 300ms ease-in;
        &:hover {
            margin-left: -10px;
            padding-right: 20px;
        }
    }
}

.loading {
    display: none;
    text-align: center !important;
    height: 120px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    box-sizing: border-box;
    &.show {
        display: block;
    }
}

@keyframes loading {
    0% {
        background-color: #f4dada;
    }
    30% {
        background-color: #beebe9;
    }
    50% {
        height: 100px;
        margin-top: 0px;
    }
    80% {
        background-color: #ffb6b9;
    }
    100% {
        background-color: #f6eec7;
    }
}

@mixin inner() {
    height: 10px;
    width: 30px;
    background-color: #fff;
    display: inline-block;
    margin-top: 90px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

@mixin loading() {
    @for $i from 1 through 10 {
        .loading-#{$i} {
            @include inner();
            -webkit-animation-delay: $i/4+s;
            animation-delay: $i/4+s;
        }
    }
}

.loading {
    @include loading();
}

#toast_container {
    position: fixed;
    top: 66px;
    right: 1rem;
    z-index: 3000;
}